.button{
    position: absolute;
    left: 500px;
    top: 500px;
    width: 100px;
    height: 30px;

}

.vd{
    position: absolute;
    left: 5000px;
    top: 5000px;
    width: 1000px;
    height: 300px;  
}